.details{
    display: flex;
    position: absolute;
}

.rightside{
    position: absolute;
    overflow: auto;
    width: 30cm;
    height: 100%;
    left: 20cm;
    top: 4cm;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    border: 2px solid black;
}

.details img{
    margin-top: 7.5cm;
    margin-left: 100px;
    height: 100%;
    transform: scale(1.3);
}

.details h1{
    position: absolute;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.dishtypes, .diets{
    position: absolute;
    top: 2cm;
    left: 5%;
}

.dishtypes img, .diets img{
    position: absolute;
    display: block;
    height: 10px;
    left: -2.6cm;
    margin-top: 1px;
}

.dishtypes p, .diets p{
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-top: -5px;
}

.diets{
    display: block;
    position: absolute;
    margin-left: 5cm;
}

.diets img{
    margin-top: 5px;
}

.diets p{
    top: -1px;
}

.score h3{
    position: absolute;
    right: 6cm;
    top: 2cm;
}

.healthscore h3{
    position: absolute;
    top: 2cm;
    right: 1.5cm;
}

.score span{
    position: absolute;
    right: 21.5%;
    top: 3.5cm;
    font-weight: bold;
    transform: scale(2)
}

.healthscore span{
    position: absolute;
    right: 9.5%;
    top: 3.5cm;
    font-weight: bold;
    transform: scale(2);
}

.summary{
    position: relative;
    text-align: justify;
    width: auto;
    top: 7cm;
    left: -4.5cm;
    border-left: 5px solid black;
    border-radius: 5px;
    padding-left: 0.5cm;
}

.instructions{
    position: relative;
    text-align: justify;
    width: auto;
    top: 7.5cm;
    left: -4.5cm;
    border-left: 5px solid rgb(8, 8, 8);
    border-radius: 5px;
    padding-left: 0.5cm;
}

.text{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 6cm;
}