.pagination{
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.pageNumbers{
    text-align: center;
    color: rgb(221, 214, 214);
}

.number{
    display: inline-block;
	list-style: none;
    font-weight: bold;
}

.number a{
    color: rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.number a, .number a:visited, .number a:hover, .number a:active {
    color: inherit;
}

.number a:hover{
    background-color: #175b52;
    color: white;
    border: 1px solid #175b52;
}

