.landingpage{
    background-image: url('../../img/background.jpg');
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.landingpage a{
    text-decoration: none;
    cursor: pointer;
    font-size: 115px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#fff;
    left: 150px;
    top: 400px;
    position: relative;
    text-shadow: 0px 11px 20px white;
    
}

.landingpage a:hover{
    color: seagreen;
    text-shadow: 0px 11px 20px #CE5937;
}